.card {
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}